td { color: #F67280; }
td.thick { font-weight: bold; }
div.td { line-height: normal; }
td.monospace { font-family: courier; }
body { background: #355C7D url("img/calendar.jpg") no-repeat fixed center; }
