thead { color: black; font-weight: bold; line-height: normal; font-family: courier; }
tbody { color: black; font-weight: bold; line-height: normal; font-family: courier; }
body { background: #F8B195 url("img_calendar.jpg") no-repeat fixed center; }
