thead { color: #DCEDC2; font-weight: bold; line-height: normal; font-family: courier; }
tbody { color: #DCEDC2; font-weight: normal; line-height: normal; font-family: courier; }
body { background: #FF8C94 url("img_calendar.jpg") no-repeat fixed center; }
