#main {
    margin: -8px;
    padding: 0;
    font-family: 'Courier Prime',
        monospace;
    color: #4D4C4C;
}

h2 {
    font-size: 32px;
    padding-bottom: 8px;
}

.section {
    margin-right: auto;
    margin-left: auto;
    min-height: 1000px;
    max-width: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}

.column-flex-1 {
    flex: 1;
    min-width: 400px;
    padding: 15px;
    margin: 15px;
}

.column-flex-2 {
    flex: 2;
    margin: 15px;
    padding: 15px;
}

.column-flex-3 {
    flex: 3;
    margin: 15px;
    padding: 15px;
}

.column-flex-4 {
    flex: 4;
    margin: 15px;
    padding: 15px;
}

.main-background {
    background: url('iron man.jpg');
    background-size: cover;
}

.hero-text {
    padding-top: 230px;
    color: white;
    padding-left: 50%;
}

/***ABOUT SECTION***/
.about-section {
    margin-left: 100px;
}

#img-div {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 100px;
}

.official-link {
    color: rgb(38, 38, 38);
}

.carousel-wrapper {
    min-height: 400px;
    position: relative;
    margin: 0 auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 25px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.light {
    color: white;
}

[id^="item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('four.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
}

.item-2 {
    background: url('three.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;

}

.item-3 {
    background: url('six.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

*:target~.item-1 {
    opacity: 0;
}

#item-1:target~.item-1 {
    opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
    z-index: 3;
    opacity: 1;
}

/***MEDIA QUERIES***/


@media only screen and (max-width: 767px) {
    .column-flex-1 {
        flex: 1;
        min-width: 600px;
        padding: 15px;
        margin: 15px;
    }

    .main-background {
        background-image: url('iron man.jpg');
    }

    .hero-text {
        padding-top: 600px;
        font-size: 14px;
        padding-left: 10px;
    }

    .carousel-wrapper {
        min-height: 200px;
    }

    .carousel-item {
        padding: 5px 5px;

    }

    .arrow {
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 8px;
    }

    .item-1 {
        height: 200px;
        width: 200px;
    }

    .item-2 {
        height: 200px;
        width: 200px;
    }

    .item-3 {
        height: 200px;
        width: 200px;
    }
}

@media (max-width: 480px) {

    .arrow,
    .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}
